main{
    font-family: Raleway, sans-serif;
    font-size: 12px;
}

.img-text{
    position: relative;
    text-align: center;
    color: white;
}

.logo {
    position: absolute;
    top: 8px;
    left: 10px;
}

.center-texts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


hr{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    height: .5px;
    background-color: white;
    opacity: 1;
    border: 0;
}

.days{
    font-size: 10px;
}

.showcase{
    font-size: 32px;
    text-transform: uppercase;
}

.supporter{
    position: absolute;
    top: 93%;
    left: 8px;
}
.w3{
    text-decoration: underline;
    color: white;
}

.w3:hover{
    text-decoration: underline;
    color: palegreen;
}











/*.fancy-header {*/
/*    color: cadetblue; !* single line comment *!*/
/*    text-decoration: underline;*/
/*    text-align: center;*/

/*}*/

/*.closing{*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*}*/



/*body{*/
/*    font-family: Arial, sans-serif;*/
/*    background-image: url("../images/19742.jpg");*/
/*    background-size: 20%;*/
/*    alignment: center;*/
/*}*/

/*.vision-images img {*/
/*    width: 400px;*/
/*    height: 250px;*/
/*    object-fit: cover;*/
/*    border-radius: 50px;*/
/*}*/

/*.top-table{*/
/*    color: white;*/
/*    background-color: black;*/
/*}*/

/*!*.image{*!*/
/*!*    width: 400px;*!*/
/*!*    height: 250px;*!*/
/*!*    object-fit: cover;*!*/

/*!*}*!*/

/*#vision-images>image:nth-child(0){*/
/*    width: 400px;*/
/*    height: 250px;*/
/*    object-fit: cover;*/

/*}*/

/*.fancy-pics img:hover{*/
/*    cursor: default;*/
/*    transform: scale(1.5);*/
/*    transition: all .3s ease-in-out;*/
/*}*/

/*.contents{*/
/*    list-style-image: url("../images/icons8-corgi-16.png");*/

/*    !*text-align: center;*!*/
/*}*/



/*table{*/
/*    border-collapse: collapse;*/
/*}*/

/*th,td{*/
/*    border: 1px solid black;*/
/*    padding: 8px;*/
/*}*/


