*{
    box-sizing: border-box;
}
body{
    width: 1000px;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: normal;
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.container-bar{
    font-family: Poppins, sans-serif;
    font-weight: normal;
    background: #de411a;
    width: 100%;
}

.container-contents{
    padding: 20px;
    width: 100%;
}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.top-bar a{
    padding: 0 0 0 10px;
    /*width: 20%;*/

    color: #E6ECF0;
    text-decoration: none;
}


.top-bar a:hover{
    color: orange;
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.showcase-texts a{
    text-decoration: none;
    font-weight: normal;
}

.top-main-text{
    font-size: 32px;
    color: black;
}

.section-text{
    font-size: 30px;
    color: #de411a;
}
.block{
    height: 5px;
    width: 30px;
    background: #de411a;
    margin: 10px 10px 10px 0;
}

.main-pictures{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-pictures img{
    margin: 2px;
    width: 50%;
}
.section{
    padding: 5em 0 0 0;
}

.services-texts a{
    text-decoration: none;
}

.texts{
    color: black;
}

.texts p{
    margin: 0 0 15px 0;
}

.profiles{
    justify-content: space-between;
}

.designer{
    width: 310px;
    background-color: #e7e8e9;
}

.designer-picture{
    width: 310px;
    filter: saturate(20%);
}
.designer-info{
    padding: 0 10px 10px 10px;
}

.name {
    margin: 0;
    font-size: 24px;
}
.position{
    color: dimgray;
}
.detail{
    font-size: 14px;
}









/*li:hover{*/
/*    color: blue;*/
/*}*/
/*i:hover{*/
/*    color: blue;*/
/*}*/



/*.tab{*/
/*    padding: .5em;*/
/*}*/

/*.tab:nth-of-type(6){*/
/*    margin-left: auto;*/
/*}*/
/*.tab:nth-of-type(5){*/
/*    margin: 0 auto;*/
/*}*/

/*.tab:nth-child(5){*/
/*    font-size: 3em;*/
/*    padding: .2em;*/
/*}*/

/*.tab:nth-child(7){*/
/*    !*im*!*/
/*}*/
/*.main-page{*/
/*    height: 400px;*/
/*    width: 100%;*/
/*    !*background-color: #DDDDDD;*!*/
/*    background-image: url("../images/pexels-adrien-olichon-2387793.jpg");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/

/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.contents{*/
/*    text-align: center;*/
/*    width: 600px;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    color: lightgray;*/

/*}*/

/*.main-text{*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*    color: #9c9c9c;*/
/*}*/

/*.main-button{*/

/*    background-color: transparent;*/
/*    border: 1px solid  white;*/
/*    color: white;*/
/*    padding: 15px 32px;*/
/*    !*text-align: center;*!*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    margin: 10px 20px;*/
/*    cursor: pointer;*/
/*}*/



/*.tab:nth-of-type(2){*/
/*    margin-right: auto;*/
/*}*/
